html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  scrollbar-color: #0A4C95 #C2D2E4;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: #0A4C95 #C2D2E4;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  height: 20vh;
}