html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  width: 0;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  /* background-color: #9c27b0;    // color of the scroll thumb */
  border-radius: 20px;
  height: 20vh;       /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}